.neonText{
    transition: opacity 0.3s ease-in-out;
    position: relative;
    text-shadow: 0 0 10px #57dbc3, 0 0 20px #57dbc3;
}

.neonText::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #fff, 0 0 20px #fff;
    opacity: 1
}

.neonUnderline {
    position: relative;
}

.neonUnderline::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #fff, 0 0 20px #fff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
}

.neonUnderline:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
    transform: scaleX(0.99);
}

.neonButton {
    position: relative;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}